<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hpu.purchase.mapper.inquiry.InquiryHeaderMapper" >
  <resultMap id="BaseResultMap" type="cn.hpu.purchase.po.inquiry.InquiryHeader" >
    <id column="inquiry_id" property="inquiryId" jdbcType="INTEGER" />
    <result column="inquiry_code" property="inquiryCode" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="inquiry_date" property="inquiryDate" jdbcType="TIMESTAMP" />
    <result column="inquiry_user_id" property="inquiryUserId" jdbcType="INTEGER" />
    <result column="status_id" property="statusId" jdbcType="VARCHAR" />
    <result column="total_quantity" property="totalQuantity" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="currency_id" property="currencyId" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inquiry_header
    where inquiry_id = #{inquiryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hpu.purchase.po.inquiry.InquiryHeader" >
    insert into inquiry_header (inquiry_id, inquiry_code, supplier_id, 
      inquiry_date, inquiry_user_id, status_id, 
      total_quantity, total_amount, currency_id, 
      created_by, created_date, modify_by, 
      modify_date, deleted, remark
      )
    values (#{inquiryId,jdbcType=INTEGER}, #{inquiryCode,jdbcType=VARCHAR}, #{supplierId,jdbcType=INTEGER}, 
      #{inquiryDate,jdbcType=TIMESTAMP}, #{inquiryUserId,jdbcType=INTEGER}, #{statusId,jdbcType=VARCHAR}, 
      #{totalQuantity,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL}, #{currencyId,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hpu.purchase.po.inquiry.InquiryHeader" >
    update inquiry_header
    set inquiry_code = #{inquiryCode,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      inquiry_date = #{inquiryDate,jdbcType=TIMESTAMP},
      inquiry_user_id = #{inquiryUserId,jdbcType=INTEGER},
      status_id = #{statusId,jdbcType=VARCHAR},
      total_quantity = #{totalQuantity,jdbcType=DECIMAL},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      currency_id = #{currencyId,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where inquiry_id = #{inquiryId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select inquiry_id, inquiry_code, supplier_id, inquiry_date, inquiry_user_id, status_id, 
    total_quantity, total_amount, currency_id, created_by, created_date, modify_by, modify_date, 
    deleted, remark
    from inquiry_header
    where inquiry_id = #{inquiryId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select inquiry_id, inquiry_code, supplier_id, inquiry_date, inquiry_user_id, status_id, 
    total_quantity, total_amount, currency_id, created_by, created_date, modify_by, modify_date, 
    deleted, remark
    from inquiry_header
  </select>
</mapper>