<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hpu.purchase.mapper.product.ProductMapper" >
  <resultMap id="BaseResultMap" type="cn.hpu.purchase.po.product.Product" >
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_type_id" property="productTypeId" jdbcType="INTEGER" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="hs_code" property="hsCode" jdbcType="VARCHAR" />
    <result column="package_type_id" property="packageTypeId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="manufacturer_id" property="manufacturerId" jdbcType="INTEGER" />
    <result column="shipper_id" property="shipperId" jdbcType="INTEGER" />
    <result column="key_words" property="keyWords" jdbcType="VARCHAR" />
    <result column="description_short" property="descriptionShort" jdbcType="VARCHAR" />
    <result column="price_sale" property="priceSale" jdbcType="DECIMAL" />
    <result column="price_market" property="priceMarket" jdbcType="DECIMAL" />
    <result column="price_suggest" property="priceSuggest" jdbcType="DECIMAL" />
    <result column="price_cost" property="priceCost" jdbcType="DECIMAL" />
    <result column="currency_id" property="currencyId" jdbcType="INTEGER" />
    <result column="weight_net" property="weightNet" jdbcType="DECIMAL" />
    <result column="weight_gross" property="weightGross" jdbcType="DECIMAL" />
    <result column="is_delivery_free" property="isDeliveryFree" jdbcType="BIT" />
    <result column="delivery_cost_added" property="deliveryCostAdded" jdbcType="DECIMAL" />
    <result column="stock_virtual" property="stockVirtual" jdbcType="DECIMAL" />
    <result column="stock_warning" property="stockWarning" jdbcType="DECIMAL" />
    <result column="stock_safe" property="stockSafe" jdbcType="DECIMAL" />
    <result column="storage_life_days" property="storageLifeDays" jdbcType="INTEGER" />
    <result column="is_published" property="isPublished" jdbcType="BIT" />
    <result column="is_lot_number_control" property="isLotNumberControl" jdbcType="BIT" />
    <result column="is_sync_stock_virtual" property="isSyncStockVirtual" jdbcType="BIT" />
    <result column="is_group_buying" property="isGroupBuying" jdbcType="BIT" />
    <result column="is_identity_card_need" property="isIdentityCardNeed" jdbcType="BIT" />
    <result column="is_return_supported" property="isReturnSupported" jdbcType="BIT" />
    <result column="is_red_packet" property="isRedPacket" jdbcType="BIT" />
    <result column="declare_name" property="declareName" jdbcType="VARCHAR" />
    <result column="declare_value" property="declareValue" jdbcType="DECIMAL" />
    <result column="declare_currency_id" property="declareCurrencyId" jdbcType="INTEGER" />
    <result column="status_id" property="statusId" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="modify_by" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="description_detail" property="descriptionDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="cn.hpu.purchase.po.product.Product" >
    insert into product (product_id, product_name, product_type_id, 
      sku, barcode, hs_code, 
      package_type_id, brand_id, manufacturer_id, 
      shipper_id, key_words, description_short, 
      price_sale, price_market, price_suggest, 
      price_cost, currency_id, weight_net, 
      weight_gross, is_delivery_free, delivery_cost_added, 
      stock_virtual, stock_warning, stock_safe, 
      storage_life_days, is_published, is_lot_number_control, 
      is_sync_stock_virtual, is_group_buying, is_identity_card_need, 
      is_return_supported, is_red_packet, declare_name, 
      declare_value, declare_currency_id, status_id, 
      created_by, created_date, modify_by, 
      modify_date, deleted, remark, 
      description_detail)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productTypeId,jdbcType=INTEGER}, 
      #{sku,jdbcType=VARCHAR}, #{barcode,jdbcType=VARCHAR}, #{hsCode,jdbcType=VARCHAR}, 
      #{packageTypeId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{manufacturerId,jdbcType=INTEGER}, 
      #{shipperId,jdbcType=INTEGER}, #{keyWords,jdbcType=VARCHAR}, #{descriptionShort,jdbcType=VARCHAR}, 
      #{priceSale,jdbcType=DECIMAL}, #{priceMarket,jdbcType=DECIMAL}, #{priceSuggest,jdbcType=DECIMAL}, 
      #{priceCost,jdbcType=DECIMAL}, #{currencyId,jdbcType=INTEGER}, #{weightNet,jdbcType=DECIMAL}, 
      #{weightGross,jdbcType=DECIMAL}, #{isDeliveryFree,jdbcType=BIT}, #{deliveryCostAdded,jdbcType=DECIMAL}, 
      #{stockVirtual,jdbcType=DECIMAL}, #{stockWarning,jdbcType=DECIMAL}, #{stockSafe,jdbcType=DECIMAL}, 
      #{storageLifeDays,jdbcType=INTEGER}, #{isPublished,jdbcType=BIT}, #{isLotNumberControl,jdbcType=BIT}, 
      #{isSyncStockVirtual,jdbcType=BIT}, #{isGroupBuying,jdbcType=BIT}, #{isIdentityCardNeed,jdbcType=BIT}, 
      #{isReturnSupported,jdbcType=BIT}, #{isRedPacket,jdbcType=BIT}, #{declareName,jdbcType=VARCHAR}, 
      #{declareValue,jdbcType=DECIMAL}, #{declareCurrencyId,jdbcType=INTEGER}, #{statusId,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, 
      #{descriptionDetail,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.hpu.purchase.po.product.Product" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_type_id = #{productTypeId,jdbcType=INTEGER},
      sku = #{sku,jdbcType=VARCHAR},
      barcode = #{barcode,jdbcType=VARCHAR},
      hs_code = #{hsCode,jdbcType=VARCHAR},
      package_type_id = #{packageTypeId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      manufacturer_id = #{manufacturerId,jdbcType=INTEGER},
      shipper_id = #{shipperId,jdbcType=INTEGER},
      key_words = #{keyWords,jdbcType=VARCHAR},
      description_short = #{descriptionShort,jdbcType=VARCHAR},
      price_sale = #{priceSale,jdbcType=DECIMAL},
      price_market = #{priceMarket,jdbcType=DECIMAL},
      price_suggest = #{priceSuggest,jdbcType=DECIMAL},
      price_cost = #{priceCost,jdbcType=DECIMAL},
      currency_id = #{currencyId,jdbcType=INTEGER},
      weight_net = #{weightNet,jdbcType=DECIMAL},
      weight_gross = #{weightGross,jdbcType=DECIMAL},
      is_delivery_free = #{isDeliveryFree,jdbcType=BIT},
      delivery_cost_added = #{deliveryCostAdded,jdbcType=DECIMAL},
      stock_virtual = #{stockVirtual,jdbcType=DECIMAL},
      stock_warning = #{stockWarning,jdbcType=DECIMAL},
      stock_safe = #{stockSafe,jdbcType=DECIMAL},
      storage_life_days = #{storageLifeDays,jdbcType=INTEGER},
      is_published = #{isPublished,jdbcType=BIT},
      is_lot_number_control = #{isLotNumberControl,jdbcType=BIT},
      is_sync_stock_virtual = #{isSyncStockVirtual,jdbcType=BIT},
      is_group_buying = #{isGroupBuying,jdbcType=BIT},
      is_identity_card_need = #{isIdentityCardNeed,jdbcType=BIT},
      is_return_supported = #{isReturnSupported,jdbcType=BIT},
      is_red_packet = #{isRedPacket,jdbcType=BIT},
      declare_name = #{declareName,jdbcType=VARCHAR},
      declare_value = #{declareValue,jdbcType=DECIMAL},
      declare_currency_id = #{declareCurrencyId,jdbcType=INTEGER},
      status_id = #{statusId,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      description_detail = #{descriptionDetail,jdbcType=LONGVARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select product_id, product_name, product_type_id, sku, barcode, hs_code, package_type_id, 
    brand_id, manufacturer_id, shipper_id, key_words, description_short, price_sale, 
    price_market, price_suggest, price_cost, currency_id, weight_net, weight_gross, is_delivery_free, 
    delivery_cost_added, stock_virtual, stock_warning, stock_safe, storage_life_days, 
    is_published, is_lot_number_control, is_sync_stock_virtual, is_group_buying, is_identity_card_need, 
    is_return_supported, is_red_packet, declare_name, declare_value, declare_currency_id, 
    status_id, created_by, created_date, modify_by, modify_date, deleted, remark, description_detail
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select product_id, product_name, product_type_id, sku, barcode, hs_code, package_type_id, 
    brand_id, manufacturer_id, shipper_id, key_words, description_short, price_sale, 
    price_market, price_suggest, price_cost, currency_id, weight_net, weight_gross, is_delivery_free, 
    delivery_cost_added, stock_virtual, stock_warning, stock_safe, storage_life_days, 
    is_published, is_lot_number_control, is_sync_stock_virtual, is_group_buying, is_identity_card_need, 
    is_return_supported, is_red_packet, declare_name, declare_value, declare_currency_id, 
    status_id, created_by, created_date, modify_by, modify_date, deleted, remark, description_detail
    from product
  </select>
</mapper>